body{
	margin: 0;
	padding: 0;
}
a{ 
	text-decoration: none;
}
img{
	vertical-align:middle;/* 居中对齐 */
}
hr+h2{
	text-align: center;
}
h1{
	line-height: 80px;text-shadow: h-shadow v-shadow blur #153b4f;
	-webkit-animation:bounce 2s 1;/*设置动画*/
}
p{
	line-height: 30px;
	letter-spacing: 0.4px;
	text-align: left;
	text-indent:2em;
	font-size: 20px;
}

/*---网页开始-----*/
.main{
	margin:0 auto;
	height:auto;
	overflow:hidden;
	background:#f5f6f7;
}


/*---顶部-----*/
.header_1{
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 80px;
	background: #bbd2b2;
}
.header{
	width: 1300px;
}
.header>img{
	margin-right: 20px;
	margin-left: 30px;
}
.header a{
	color: #000000;
}
.baba{
	display: inline-block;
	line-height: 80px;
	text-align: center;
	width: 150px;
	font-size: 20px;
}

.baba:hover{
	background-color: #92a48b;
}
#abab{
	width: 300px;
	color: #423b33;
	font-size: 12px;
	margin-left: 40px;
	margin-right: 200px;
}


/*---主体-----*/
.body_dialog{
	width: 1200px;
	position: relative;
	margin: 140px auto;
	display:flex;
	justify-content:space-between; 
	
}
.body{
	border: 5px solid #bbd2b2;
	width: 1000px;
	float: left;
	text-align: center;
	background-color: white;
	font-style: normal;
}
.body>hr{
	width: 80%;
}
.text{
	width: 800px;
	margin: 0 auto;
}
.benefit{
	text-align: left;
}
.benefit>p{
	text-indent:2em;
}
.bala{
	text-indent:2em;
	color:#6c4239;
	font-size: 20px;
	font-style: italic;
}
.title{
	margin-bottom: 70px;
	line-height: 60px;
	text-align: center;
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
	-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(116, 129, 110, 0.3));
	font:bold 50px/1.231 georgia,sans-serif;
	text-transform:uppercase;
}

/* 表格 */
p>span{
	color: red;
}
.table_02,.table_01{
	text-align: left;
}
li{
	font-size: 20px;
	line-height: 32px;
}
table{
	border: 10px;
	height: 550px;
	width: 800px;
	position: relative;
	margin: 0px;
	Border-spacing:10px;
}
td{
	padding: 25px;
}
#tata{
	border-radius: 50%;
	border:3px solid #bbd2b2;
}

/*---目录-----*/
.dialog{
	width: 300px;
	padding: 10px;
	position: fixed;
	margin-left: 1090px;
	text-align: left;
	line-height: 20px;
	background-color: white;
	border-radius: 10px;
}
.dialog ul{
	margin-left: 15px;
}
.dialog li{
	line-height: 50px;
}
.dialog a{
	color: #443C36;
}
.dialog a:hover{
	color: #ff0000;
}


   
/*---底部-----*/
.footer{
			bottom: 0;
			margin-left: 0;
			height: 200px;
			background:#bbd2b2;
}
.container{
			   margin: 0 auto;
			   display: flex;
			   width: 1100px;
}
.image{
			   margin: 5px 200px 0px 0px;
}
.line{
				float:left;
				margin-top: 20px;
				width:50px;
				height: 240px;
				border-right: 2px solid black;
}
.relative{
			   width: 750px;
			   font-size: 16px;
			   line-height: 22px;
			   letter-spacing: 0.7mm;
			   margin-top: 30px;
			   margin-left: 50px;
			   color: #443C36;
			   display:inline-block;
			   font-weight:bold;
			   -webkit-filter:url(#diff1);
			   
}

